@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-fonts {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
 
/* shared styles */
.display-flex {
    display: flex;
}

.dark-one{
    color: #131313;
}
.dark-two{
    color: #424242;
}
.dark-three{
    color: #727272;
}

.btn-primary{
    border-radius: 8px;
    background-color: #FF900E;
    padding: 20px 25px;
    font-size: 1.25em;
    font-weight: 600;
    color: white;
    border: none;
}
.section-title{

    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 24px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main>section{
    margin-top: 130px;
}
.brand{
    font-size: 2.8rem;
    font-weight: bold;
}
.main-navbar{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 0;
}
.nav-links{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-family: 1.125rem;
    margin-right: 30px;
}

.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}



.banner-heading{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 25px;
    padding-top: 102px;
}
.banner-content{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}
.banner-container{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner img{
    margin-top: 50px;
    width: 100%;

}
.teams{
    align-items: center;
    
}
.team-info-container{
    max-width: 537px;
    margin-left: 75px;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
#quick-list{
    font-size: 2.8rem;
    font-weight: 500;
    color: #727272;
}
#second-list{
    font-size: 2.8rem;
    font-weight: 500;
    color: #131313;
}
#third-list{
    font-size: 2.8rem;
    font-weight: 500;
    color: #FF900E;
    
}
.team-heading{
    margin-bottom: 24px;
}

.team-info-container p{
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}

.fact-content{
    max-width: 542px;
    margin-bottom: 100px;

}
.fact-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    padding: 0 50px;
}
.fact-item{
    border: 1px solid #FF900E;
    width: 261px;
    height: 261px;
    padding: 46px 35px 60px 35px;
    border-radius: 8px;
}

.fact-item h3{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sponser-info{
    text-align: center;
    max-width: 542px;
    margin: 0 auto ;
}
.sponser-image{
    margin-top: 50px;
    margin-bottom: 130px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;

}
.sponser-image img{
    filter: grayscale(100%);
}

footer{
    max-width: 1440px;
    margin: 0 auto ;
    background-color: #FFF4E7;
    border-radius: 8px;
    text-align: center;
    padding-top: 39px;
    
}
/* responsive small device 576px */

@media screen and (max-width: 576px) {
   .navbar, .nav-links, .teams{
    flex-direction: column;
   }
.team-image , .fact-card ,  .sponser-image
{
    grid-template-columns: repeat(1, 1fr);
}
.sponser-image{
   justify-items: center;
   gap: 50px;
}
.fact-card{
    gap: 20px;
    margin: 20px;
    
}
.team-info-container, .fact-content{
    justify-items: center;
    text-align: center;
}
.teams{
    flex-direction: column-reverse;
}
.team-info-container{
    margin: 20px; 
    overflow: hidden;
}

footer p{
    font-size: 0.70rem;
}
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar, .nav-links, .teams{
     flex-direction: column;
    }
 .team-image, .fact-card
 {
     grid-template-columns: repeat(2, 1fr);
     justify-items: center;
 }
 .fact-content{
    margin: 0 auto 100px;
    justify-items: center;
    text-align: center;
}
 .sponser-image{
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-items: center;
 }
.fact-card {
     gap: 20px;
     
 }
 .teams{
     flex-direction: column-reverse;
 }
 .team-info-container{
     margin: 20px; 
     overflow: hidden;
     text-align: center;
 }
 }